#{extends 'main.html' /}
#{set title:'About - NY Neighborhood' /}
<script src="@{'/public/js/jquery-1.7.2.min.js'}"></script>

<div class="row">
    <div class="span4">
        <h2>Why this App ?</h2>
        <p>Because I needed to learn the NYC's neighborhoods and Foursquare was a fun way to do it.</p>
    </div>
    <div class="span4">
        <h2></h2>

    </div>
    <div class="span4">
        <h2>Contact me <a href="http://twitter.com/laurentbouin">@laurentbouin</a></h2>
        <p></p>
    </div>
</div>

<script>$('#about').attr("class","active")</script>
<hr>