#{extends 'main.html' /}
#{set title:'Home' /}


<div class="row">
    <div class="span6">
        <h2>Know where you are</h2>
        <p>NY Neighborhood is a Foursquare connected application that let you know the Manhattan neighborhood you are into each time you check in.</p>
        <p>
            <a href="/auth" class="btn btn-large btn-primary">Connect the App</a>
        </p>
    </div>
    <div class="span6">
        <h2></h2>
        <p><p>
        <img src="@{'/public/img/screen1.png'}" width="320" height="480"><br></p>
    </div>

    <!--script>$('#about').attr("class","")</script-->

</div>